<footer class="container-fluid bg-dark text-white">
  <div class="container-fluid text-center my-5 py-3">
    <p>&copy; InnovaFlow 2024. Tous droits réservés.</p>
    <div class="social-icons">
      <a href="#" target="_blank" class="text-white mx-2"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="#" target="_blank" class="text-white mx-2"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" target="_blank" class="text-white mx-2"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="#" target="_blank" class="text-white mx-2"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
    <p>
      <a href="#" class="text-white">Conditions d'utilisation</a>
      |
      <a href="#" class="text-white">Politique de confidentialité</a>
    </p>
    Contactez-nous :
    <a href="mailto:support@innovaflow.com" class="text-white"
      >support@innovaflow.com</a
    >
  </div>
</footer>